
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9c74a791f2.js" crossorigin="anonymous"></script>
    <link href="~/estilos.css" rel="stylesheet" />
    <title>Gestion de los Jugadores</title>
</head>
<body style="height: 100vh;">
    <div class="sidebar">
        <!--Barra Lateral-->
        <img />
        <img />
        <ul>
            @*GestionarPago,GestionarResponsable,GestionarJugadores,GestionarTemporada
            ViewBag.Seleccion
            *@
            @if (ViewBag.Seleccion == 0)
            {
                <li>
                    <a style="color: gold; font-weight: 500;" href="~/GestionarPago">Pagos</a>
                </li>
            }
            else
            {
                <li>
                    <a style="border-right: none;" href="~/GestionarPago">Pagos</a>
                </li>
            }
            @if (ViewBag.Seleccion == 1)
            {
                <li>
                    <a style="color: gold; font-weight: 500;" href="~/GestionarResponsable">Responsables</a>
                </li>
            }
            else
            {
                <li>
                    <a style="border-right: none;" href="~/GestionarResponsable">Responsables</a>
                </li>
            }
            @if (ViewBag.Seleccion == 2)
            {
                <li>
                    <a style="color: gold; font-weight: 500;" href="~/GestionarJugadores">Jugadores</a>
                </li>
            }
            else
            {
                <li>
                    <a style="border-right: none;" href="~/GestionarJugadores">Jugadores</a>
                </li>
            }
            @if (ViewBag.Seleccion == 3)
            {
                <li>
                    <a style="color: gold; font-weight: 500;" href="~/GestionarTemporada">Temporada</a>
                </li>
            }
            else
            {
                <li>
                    <a style="border-right: none;" href="~/GestionarTemporada">Temporada</a>
                </li>
            }
        </ul>
    </div>
    @RenderBody()
</body>
</html>