@using System.Text.Json;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ArmadillosManager.Models.ViewModels.AgregarJugadorViewModel
@{
    Layout = "_Layout";
}


    <div class="contenido">
        <div class="header">
            <!--Parte de Arriba-->
            <h1>Gestion de Jugadores</h1>
            <nav>
                <h2>Agregando Jugador</h2>
            </nav>
        </div>

        <!--Info-->
        <div class="infocontainer">
            <h2>Datos del Jugador</h2>
            <form method="post" action="~/Responsable/AgregarJugador">
                <h3>Nombre</h3>
                <input type="text" id="txtNombre" required="required" asp-for="Jugador.Nombre" />
                <div class="divv">
                    <div>
                        <h3>Categoria</h3>
                        <select id="cmbCategoria" required="required" asp-for="Jugador.Categoria" asp-items="@(new SelectList(Model.Categorias,"IdCategoria","Categoria1"))">
                            <option selected="selected" value="">-- Seleccionar categoria --</option>
                        </select>
                    </div>
                    <div>
                        <h3>Liga</h3>
                        <select id="cmbLiga" required="required" asp-for="Jugador.Liga" asp-items="@(new SelectList(Model.Ligas,"IdLiga","Liga1"))">
                            <option selected="selected" value="">-- Seleccionar liga --</option>
                        </select>
                    </div>
                </div>
                <h3>Domicilio</h3>
                <input type="text" id="txtDomicilio" required="required" asp-for="Jugador.Direccion" />
                <h3>telefono</h3>
                <input type="text" id="txtTelefono" required="required" asp-for="Jugador.Telefono" />
                <h3>RFC del patrocinador</h3>
                <input type="text" id="txtRFC" onkeyup="searchNames()" asp-for="RFC" />
                <div id="searchResults"></div>
                <p id="error">
                    @Html.ValidationSummary()
                </p>
                <div class="btncontainer">
                    <input type="submit" class="addbtn" href="~/GestionarJugadores" value="Enviar" />
                    <button id="btnTest" type="submit" href="~/GestionarJugadores" class="imprentbtn">
                        <i class="fa-sharp fa-solid fa-xmark"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>


   

<script>
    var rfcList = @Html.Raw(Json.Serialize(Model.RFCS));

    function searchNames() {
        var input = document.getElementById("txtRFC").value;
        var matchingRFCs = rfcList.filter(function (rfc) {
            return rfc.toLowerCase().includes(input.toLowerCase());
        });
        console.log(matchingRFCs);
        displayResults(matchingRFCs);
    }
    function displayResults(results) {
        var rfcResults = document.getElementById("searchResults");
        rfcResults.innerHTML = "";
        if (results.length > 0)
            results.forEach(function (result) {
                var html = "";
                console.log(result);
                results.forEach(function (result) {
                    html += "<p>" + result + "</p>";
                });
                rfcResults.innerHTML = html;
            });
        else
            rfcResults.innerHTML = "<p>No se encontraron RFC similares.</p>";
    }
</script>
<script>
    document.getElementById("btnTest").addEventListener("click", function () {
        window.location.href = "/GestionarJugadores";
    });
</script>