@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ArmadillosManager.Models.ViewModels.AgregarResponsableViewModel
@{
    Layout = "_Layout";
}
<body>
    <div class="contenido">
        <div class="header">
            <!--Parte de Arriba-->
            <h1>Gestion de Responsables</h1>
            <nav>
                <h2>Agregando Responsable</h2>
            </nav>
        </div>
        <!--Info-->
        <div class="infocontainer">
            <h2>Datos del Responsable</h2>
            <div>
                <form method="post" action="~/Responsable/AgregarResponsable">
                    <h3>Nombre</h3>
                    <input type="text" id="txtNombre" required="required" asp-for="Responsable.Nombre">
                    <hr>
                    <h3>Correo</h3>
                    <input type="text" required="required" id="txtCorreo" asp-for="Responsable.Correo">
                    <h3>RFC</h3>
                    <input type="text" required="required" id="txtRfc" asp-for="Responsable.Rfc">
                    <h3>telefono</h3>
                    <input type="tel" required="required" id="txtTelefono" asp-for="Responsable.Telefono">
                    <h3>Domicilio</h3>
                    <input type="text" required="required" id="txtCorreo" asp-for="Responsable.Direccion">
                    <p id="error">
                        @Html.ValidationSummary()
                    </p>
                    <div class="btncontainer">
                        <button href="~/GestionarResponsable" class="addbtn">Aceptar</button>
                        <button id="btnTest" formnovalidate href="~/GestionarResponsable" class="imprentbtn">
                            <i class="fa-sharp fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </form>
            </div>
            <hr>
        </div>
    </div>
</body>
<script>
    document.getElementById("btnTest").addEventListener("click", function () {
        window.location.href = "/GestionarResponsable";
    });
</script>